<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Unavvi - 颜值与实力并重工具导航网站</title>
		<link rel="shortcut icon" href="resources/logo/favicon.png" type="image/x-icon" />
		<link rel="bookmark" href="resources/logo/favicon.png" type="image/x-icon"　/>
		<link type="text/css" rel="stylesheet" href="style/style.css">
		<script type="application/javascript" src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="application/javascript" src="lib/pinyin_dict_firstletter.js"></script>
		<script type="application/javascript" src="lib/pinyinUtil.js"></script>
		<script>
			(function(d) {
			var config = {
			  kitId: 'ltx8tpx',
			  scriptTimeout: 3000,
			  async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		</script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?3cdfbb50011e2a236f298cc239b9be4b";
			  var s = document.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<header class="center">
			<a id="logo" class="center border" href="index.html"><h1>UNAVVI</h1></a>
		</header>
		<div id="container">
			<ul v-for="module in content" class="sort">
				<h2 class="border center hidden">{{module.sortName}}</h2>
				<h2 class="center fill-h2 loading">
					<div class="sortName">产品</div>
				</h2>
				<div class="sort-container">
					<a v-for="card in module.website" :href="card.address" class="border center card hidden" :onclick="card.statistics" target="_blank">
						<div class="border center website-logo">
							<div class="website-logo-color" :style="{background: card.color}"></div>
							<div class="initial">{{pinyinUtil.getFirstLetter(card.name.substr(0, 1).toUpperCase())}}</div>
						</div>
						<div class="wesite-con">
							<h3 class="website-name">{{card.name}}</h3>
							<span class="website-intro">{{card.intro}}</span>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo"></div>
						<div class="wesite-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo"></div>
						<div class="wesite-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo"></div>
						<div class="wesite-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
					<a class="center card fill-card loading">
						<div class="center website-logo"></div>
						<div class="wesite-con">
							<div class="website-name"></div>
							<div class="website-intro"></div>
						</div>
					</a>
				</div>
			</ul>
		</div>
		<footer class="center">
			<span id="intro">EDIT BY FLY LEWIS</span>
			<a class="center wechat" href="https://pujivideo.neocities.org/app/code.html">
				<img src="resources/logo/wechat.svg"></i>
			</a>
		</footer>
		<script type="text/javascript" src="lib/bmob-min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.13.2/dist/av-min.js"></script>
		<script type="text/javascript">
			var { Query } = AV;
			AV.init("qoUzagEgSFnEiqXGwQCA9LFj-gzGzoHsz", "5xHS9v8Skv6A5MXrgCpjw8zd");

			var Website = AV.Object.extend("Website"),
				Sort = AV.Object.extend("Sort");
			var website = new AV.Query("Website"),
				sort = new AV.Query("Sort");
			var sorts = [];

			/* 获取分类 */
			sort.ascending("weight").find().then(function(sortRes) {
				for(var i = 0; i < sortRes.length; i++) {
					var newSort = {
						sortId: sortRes[i].id,
						sortName: sortRes[i].attributes.sortName
					}
					sorts.push(newSort);
				}
			});

			/* 获取网页 */
			var webRes = [];
			website.include(["sort"]);
  			website.notEqualTo("show", 0).ascending("subsort").addAscending("name").find().then(function(webRes, i) {
  				var content = [], websites = [];
				for(var i = 0; i < webRes.length; i++) {
					/* 获取分类 */
					var web = { webId: webRes[i].id,
								name: webRes[i].attributes.name,
								address: webRes[i].attributes.address,
								intro: webRes[i].attributes.intro,
								statistics: "_hmt.push(['_trackEvent', 'website', 'click', '" + webRes[i].attributes.address + "'])",
								color: webRes[i].attributes.color },
					sortName = webRes[i].attributes.sort.attributes.sortName,
					sortId = webRes[i].attributes.sort.id;
					if(content.length == 0) {
						websites.push(web);
						var newModule = {
							sortName: sortName,
							sortId: sortId,
							website: websites
						};
						content.push(newModule);
						websites = [];
					}
					else {
						for(var j = 0; j < content.length; j++) {
							if(content[j].sortId == sortId) {
								content[j].website.push(web);
								break;
							}
							else if(j == content.length - 1) {
								websites.push(web);
								var newModule = {
									sortName: sortName,
									sortId: sortId,
									website: websites
								};
								content.push(newModule);
								websites = [];
								break;
							}
						}
					}
					
				}

				/* 分类排序 */
				var conLen = content.length;
				for(var i = 0; i < sorts.length; i++) {
					for(var j = 0; j < conLen; j++) {
						if(sorts[i].sortId.toString() == content[j].sortId.toString()) {
							content.push(content[j]);
						}
					}
				}
				content.splice(0, conLen);


				/* 渲染 */
				var container = new Vue({
					el: "#container",
					data: {
						content: content
					},
					mounted: function() {
						/* 首次渲染完成 */
						this.$nextTick(function () {
							$(".loading").removeClass("loading");
							$(".hidden").removeClass("hidden");
							})
					}
				});
			});
		</script>
	</body>
</html>
